* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

/*------------------ content block 2 ------------------------ */
header {
  height: 90vh;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0.5em;

  @media (min-width: 700px) {
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1.5em;
  }
}

.informaat-logo {
  grid-column: 1 / 2;
  grid-row: 1;
  padding-top: 1.5em;
}

.header-title {
  grid-column: 1 / 3;
  grid-row: 1;
  padding-top: 3em;
  color: var(--font-color-colored-bg);

  & span {
    display: block;

    @media (min-width: 700px) {
      display: inline;
    }
  }

  @media (min-width: 700px) {
    align-self: center;
  }
}

.header-paragraph {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  color: var(--font-color-colored-bg);

  @media (min-width: 700px) {
    grid-column: 1 / 3;
    grid-row: 2;
    align-self: first baseline;
  }
}

.header-button {
  grid-column: 1;
  grid-row: 3;
  align-self: center;
  height: 3.5em;
  width: 12em;
  align-self: first baseline;

  @media (min-width: 700px) {
    grid-column: 1;
    grid-row: 3;
    align-self: first baseline;
  }
}

/* nu hidden komt pas op grotere schermen tevorschijn */
.header-image {
  display: none;
  grid-column: 2;
  grid-row: 3;

  height: 20em;
  width: 25em;
  @media (min-width: 700px) {
    display: inline;

  }
}

.media-button {
  grid-column: 2;
  grid-row: 3;
  height: 4em;
  width: 4em;
  justify-self: flex-end;
  align-self: last baseline;
  position: relative;
  align-self: center;

  @media (min-width: 700px) {
    grid-column: 1;
  grid-row: 3;
  align-self: last baseline;
  justify-self: left;

  }
}

/* de progressbar van de media button moet nog uitzoeken hoe ik dit moet fiksen  */
.media-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid var(--bg-color-1);
  border-top: 3px solid rgb(255, 242, 0);
  border-radius: 100%;
  animation: progress 2s linear infinite;
  margin: -8px;
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*------------------ content block 3 ------------------------ */

.content-block-3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 60vh;
  padding-top: 3em;
  padding-right: 1em;
  padding-left: 1.5em;
  color: var(--font-color-white-bg);
  background-color: var(--bg-color-2);

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    gap: 1.5em;
    align-items: center;
  }

  @media (min-width: 900px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.content-block-3-title {
  grid-column: 1;
  grid-row: 1;
  align-self: center;

  @media (min-width: 700px) {
    grid-column: 1;
    grid-row: 1;
    align-self: last baseline;
  }

  & span {
    display: block;

    @media (min-width: 800px) {
      display: inline; 
    }
  }
}

.content-block-3-paragraph {
  grid-column: 1;
  grid-row: 2;

  @media (min-width: 700px) {
    grid-column: 2;
    grid-row: 1;
    align-self: last baseline;
  }
}

.content-block-3-anchor {
  grid-column: 1;
  grid-row: 3;
  width: fit-content;
  align-self: first baseline;

  &:hover {
    border-bottom: var(--anchor-hover-effect);
  }

  @media (min-width: 700px) {
    grid-column: 2;
    grid-row: 2;
    align-self: start;
    
  }
}


/*------------------ content block 4 ------------------------ */
.content-block-4 {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: var(--bg-color-2);
  gap: 2em;
  padding-bottom: 3em;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto auto; 
    grid-template-areas:
      "img1-big img1-big"
      "img2 img3"; 
  }

  @media (min-width: 900px) {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

.experience-container:nth-child(1) {
  @media (min-width: 700px) {
    grid-area: img1-big;
  }
}

.experience-container:nth-child(2) {
  @media (min-width: 700px) {
    grid-area: img2;
  }
}

.experience-container:nth-child(3) {
  @media (min-width: 700px) {
    grid-area: img3;
  }
}

.all-experiences-button-container {
  @media (min-width: 700px) {
    grid-column: 1 / span 2; 
    justify-self: start; 
    align-self: center;
  }
}

.experience-image {
  width: 100%; 
  height: auto; 
  object-fit: contain;
  align-self: center;
  justify-self: center;

  &:hover {
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
  }
}

.all-experiences-button {
  justify-self: center;
  align-self: center;

  width: 21em;
  height: 3em;
}

/*------------------ content block 5 ------------------------ */

/* .content-block-5-button {
  width: 10em;
} */
.content-block-5 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 5em 15em 5em;
  background-color: var(--bg-color-4);

  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 3em;
}

.content-block-5-subtitle {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  width: fit-content;

  border-bottom: 3px solid rgb(255, 242, 0);
  color: var(--font-color-colored-bg);
}

.content-block-5-title {
  grid-column: 1;
  grid-row: 2;

  color: var(--font-color-colored-bg);
}

.content-block-5-button {
  grid-column: 1;
  grid-row: 3;

  height: 3.5em;
  width: 17em;
}

/*------------------ content block 6 ------------------------ */

.content-block-6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: 50vh;
  padding-top: 3em;
  padding-right: 1.5em;
  padding-left: 1.5em;
  color: var(--font-color-white-bg);
  background-color: var(--bg-color-2);
  gap: 0.5em;

  @media (min-width: 800px) {
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto auto;
    gap: 1em;
  }

  @media (min-width: 900px) {
    padding-left: 10vw; 
    padding-right: 10vw; 
  }
}

.content-block-6-title {
  grid-column: 1;
  grid-row: 1;
  align-self: center;

  & span {
    display: block;

    @media (min-width: 800px) {
      display: inline; 
    }
  }

  @media (min-width: 800px) {
    align-self: last baseline;
    grid-column: 1 / 3;
    grid-row: 1;
  }
}

.content-block-6-paragraph {
  grid-column: 1;
  grid-row: 2;
  align-self: first baseline;

  @media (min-width: 800px) {
    grid-column: 1;
    grid-row: 2;
    align-self: first baseline;
  }
}

.content-block-6-anchor {
  grid-column: 1;
  grid-row: 3;
  width: fit-content;
  align-self: first baseline;

  &:hover {
    border-bottom: var(--anchor-hover-effect);
  }

  @media (min-width: 800px) {
    grid-column: 1;
    grid-row: 3;
    align-self: first baseline;
  }
}

.image-container-block-6 {
  display: none; 

  @media (min-width: 800px) {
    display: block; 
    grid-column: 2; 
    grid-row: 1 / 4; 
    justify-self: center; 
    align-self: center; 
    width: 80%; 
    max-width: 25em; 
    height: auto; 
    margin: 0 auto; 
  }

  @media (min-width: 1200px) {
    max-width: 30em; 
  }
}

.experts-image-block-6 {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  border-radius: 0.5em;
}





































/*------------------ content block 7 ------------------------ */

/* parent container */
.content-block-7 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: var(--bg-color-2);
  gap: 2em;
  padding-bottom: 3em;


  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto; 
  }

  @media (min-width: 900px) {
    padding-left: 10vw;
    padding-right: 10vw;

  }
}

.content-block-7-title {
  grid-column: 1 / -1;
  }

/* child containers */
.content-container {
  display: flex;
  flex-direction: column;
}

/* child element van de child container */
.content-image {
  height: 200px;
  width: 100%;
  align-self: center;
  justify-self: center;
}

/* child element van de child container */
.content-title {
  padding-top: 0.5em;
}

.content-anchor:hover {
  transform: scale(1.01);
  transition: 0.3s ease-in-out;
}

.content-paragraph {
  padding: min(0.5em, 2%);
}

/* authors sections */

.author-container {
  padding-top: 1em;
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
  align-items: center;
}

.author-figure {
  height: 3em;
  width: 3em;
  background-color: var(--publisher-figure-color);
  border-radius: 50%;
}

.author-text {
  display: flex;
  flex-direction: column;
}

.author-name {
  font-weight: bold;
  justify-self: center;
}










/*------------------ content block 8 ------------------------ */

.content-block-8 {
  background-color: var(--bg-color-5);
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr) 3em;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-left: 1.5em;
  padding-right: 1.5em;
  /* padding-top: 1.5em; */
  gap: 1.5em;

  @media (min-width: 700px) {
    grid-template-columns: repeat(2, 1fr) 3em;
    gap: 1em;
    height: 70vh;

    }

    @media (min-width: 900px) {
      padding-left: 10vw;
      padding-right: 10vw;
      height: 60vh;

    }

    @media (min-width: 1024px) {
      height: 55vh;
      padding-top: 1em;
      

    }
}

.content-block-8-title {
  grid-column: 1 / 3;
  grid-row: 1;
  align-self: last baseline;

  color: var(--font-color-colored-bg);

  & span {
    display: block;

    @media (min-width: 700px) {
      display: inline;
    }
  }
}


.text-content-container {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
  grid-row: 2;
  justify-content: space-evenly;
  gap: 1em;
  color: var(--font-color-colored-bg);

  @media (min-width: 700px) {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 2;
    align-self: center;
  }
}

.image-container {
  grid-column: 1 / 3;
  grid-row: 3;
  object-fit: cover;

  @media (min-width: 700px) {
    grid-column: 2; 
    grid-row: 1 / 4; 
    align-self: center; 
    justify-self: center; 
    width: 100%; 
    max-width: 35em; 
    height: auto; 
  }
}

.content-image {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
}





.content-block-8-button {
  grid-column: 1;
  grid-row: 4;
  align-self: first baseline;

  height: 3.5em;
  width: 17em;

  @media (min-width: 700px) {
    grid-column: 1 / 2;
    grid-row: 3;
    align-self: center;
  }
}

.button-container {
  grid-column: 2 / 3;
  grid-row: 4;
  width: 10em;
  height: 3em;
  align-self: last baseline; 

  /* voor positioneren scroll-button rechtsonder */
  position: relative;
  left: 1.5em;
  justify-self: flex-end;
  justify-content: space-evenly; 

  /* voor tekst van button en image icon naast elkaar krijgen */
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: #fff;
  }

}
































/*------------------ content block 9 footer ------------------------ */

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  background-color: var(--bg-color-2);
  color: black;
  padding-left: min(1.5em, 5vw);
  padding-right: min(1.5em, 5vw);
  gap: 2em;

  padding-top: 3em;

  @media (min-width: 700px) {
    grid-template-columns: repeat(4, 1fr);
    

  }

  @media (min-width: 900px) {
    padding-left: 10vw;
    padding-right: 10vw;

  }
}

.nav-items {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

address {
  grid-column: 1 / 3;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  @media (min-width: 575px) {
    grid-column: 2;
    grid-row: 1;
  }
}
.social-media {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 1em;

  @media (min-width: 700px) {
    grid-column: 3;
    grid-row: 1;
    align-self: flex-start;
  }
}

.line {
  grid-column: 1 / 4;
  grid-row: 4;
  display: flex;
  align-self: first baseline;

  @media (min-width: 700px) {
    grid-column: 1 / 5;
    grid-row: 2;

    
  }
}

.footer-image {
  align-self: flex-end;
}

.licence-images-footer {
  grid-column: 2 / 4;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;

  @media (min-width: 700px) {
    grid-column: 4;
    grid-row: 1;
    gap: 1em;
  }

  @media (min-width: 1000px) {
flex-direction: row-reverse;   
align-self: flex-start;
}
}

.footer-end {
  grid-column: 1 / 4;
  grid-row: 5;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 700px) {
    grid-column: 1 / 3;
    grid-row: 4;
    justify-content:unset;
    
  }

  @media (min-width: 700px) {
    grid-column: 1 / 3;
    grid-row: 3;
    align-self: first baseline;
    
  }
}

.footer-informaat-logo {
  grid-column: 1 / 2;
  grid-row: 4;
  height: 2em;
  max-width: 100%;

  @media (min-width: 700px) {
    padding-right: 1em;
  }

  
}

.designers-for-life-text {
  grid-column: 2 / 4;
  grid-row: 4;
  display: flex;
  flex-direction: row;
}

.privacy-vitas {
  grid-column: 1 / 4;
  grid-row: 6;
  display: flex;
  flex-direction: row;
  padding-bottom: 3em;
  font-size: 15px;

  @media (min-width: 700px) {
  grid-column: 3 / 5;
  grid-row: 3;
  align-self: last baseline;
  justify-self: right;
    
  }
}
