body {
  /* colors */
  --background-color-1: #d92b4d;
  --background-color-2: #f3f1e9;
  --background-color-3: #008273;
  --background-color-4: #416ad9;
  --background-color-5: #008273;


  --logo-header-color: white;
  --logo-footer-color: black;

  --button-color: #ffffff00;
  --button-border-color-1: white;
  --button-border-color-2: black;
  --button-hover-color: #0000003c;

  --shadow-button-hover: 0 0 5px rgb(74, 74, 74);

  /* fonts colors */
  --font-color-colored-bg: #fff;
  --font-color-white-bg: #190b34;
  --font-color-subtext: #706a7c;

  --anker-hover-effect: 2px solid rgb(0, 0, 0);

  --publisher-figure-color: #FF335A;
}

/* h2 headings fonts */
@font-face {
  font-family: "gilroy heading";
  src: url(./Assets/fonts/gilroy/gilroy-bold.woff2);
}

@font-face {
  font-family: "gilroy anker";
  src: url(./Assets/fonts/gilroy/gilroy-bold.woff2);
}

/* paragraphs */
@font-face {
  font-family: "gilroy p";
  src: url(./Assets/fonts/gilroy/gilroy-regular.woff2);
}

/* figcaptions */
@font-face {
  font-family: "gilroy figcaption";
  src: url(./Assets/fonts/gilroy/gilroy-semi-bold.woff2);
}

/* the round buttons font like the experience button */
@font-face {
  font-family: "gilroy button";
  src: url(./Assets/fonts/gilroy/gilroy-semi-bold.woff2)
}

@font-face {
    font-family: "gilroy timestamp";
    src: url(./Assets/fonts/gilroy/gilroy-ultra-light.woff2);
  }

/* headings */
h2 {
  font-family: "gilroy heading";
  font-size: 40px;
}

h3 {
  font-family: "gilroy heading";
  font-size: 35px;
}

h4 {
  font-family: "gilroy heading";
  font-size: 22px;
}

h5 {
    font-family: "gilroy heading";
    font-size: small;
}

time {
    font-family: "gilroy timestamp";
    font-size: x-small;
}

p {
  font-family: "gilroy p";
  font-size: larger;
  letter-spacing: 1px;
}

a {
  font-family: "gilroy anker";
  text-decoration: none;
  border: none;
  letter-spacing: 2px;
  color: var(--font-color-white-bg);
}

figcaption {
  font-family: "gilroy figcaption";
  font-size: small;
  letter-spacing: 2px;
  color: var(--font-color-subtext);
}

/* button bij witte achtergrond */
.all-experiences-button {
  font-family: "gilroy button";
  border-radius: 30px;
  border: 2px solid var(--button-border-color-2);
  background-color: var(--button-color);
  letter-spacing: 2px;
  font-size: medium;

  &:hover {
    transform: scale(1.01);
  }
}

button {
  cursor: pointer;
}


/* button bij gekleurde achtergrond */
.header-button {
  border-radius: 30px;
  border: 2px solid var(--button-border-color-1);
  background-color: var(--button-color);
  letter-spacing: 2px;
  font-size: medium;
  font-weight: 500;
  color: var(--font-color-colored-bg);

  &:hover {
    background-color: var(--button-hover-color);
  }
}

/* media button play/pauze */
.media-button {
  border-radius: 100%;
  background-color: var(--font-color-colored-bg);
  border: none;
  justify-content: center;
  align-items: center;

  &:hover {
    box-shadow: var(--shadow-button-hover);
  }
}

header {
  background-color: var(--background-color-1);
}
